<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">About Us</h2>
              <p>Locally owned and operated since 2004.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-justify">
            <p>
              We are proud distributors of beverages and fresh juices for over 10 years.
              We do great products, matched with our great service.
              We continue to grow and are expanding our product range and the areas we service.
              We are committed and dedicated to our customers and at all times we provide:
            </p>
          </div>
        </div>
        <div class="row" style="margin-top:15px">
          <div class="col-lg-12 text-justify">
            <p>
              <div class="col-md-4 text-center">
                <p>Superior customer service</p>
              </div>
              <div class="col-md-4 text-center">
                <p>Efficient product delivery</p>
              </div>
              <div class="col-md-4 text-center">
                <p>Valuable business advice</p>
              </div>
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12 text-justify">
            <p>
              <b>We are the FNQ Member for AIDA,</b>
              a national beverage distribution network servicing
              an array of customers from Cafe’s, Fast Food and Takeaway outlets
              to Restaurants, Supermarkets, TAFE and University campuses and
              Petrol &amp; Convenience outlets.
              Who can supply and fit your business with the right refrigerated
              merchandise to optimise your beverage offering.
              Fridges have been designed to accommodate any store’s décor or
              fit-out and are extremely eye catching and quirky.
              They also come with a 24 hour breakdown number
              in case of any unlikely mishap with your Hydration Station.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <img class="center-img" src="img/hydration_station_aida.jpg">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12 text-justify">
            <p>
              <b>School Canteen Approved Products Available.</b>
              We are proud suppliers of several FOCIS approved fruit juices and beverages.
              FOCIS encourages school canteens to stock a wide variety of tasty nutritious
              foods and beverages that contribute to children’s growth and development.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <img class="center-img" src="img/school_approved.png">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12 text-justify">
            <p>
              <b>Softdrink Vs Energy Drink.</b>
              We provide a great range of soft and energy drinks at great prices.
              This makes our supply of energy and soft drinks perfect for workplaces
              such as factories, offices and more, as well as for work gatherings,
              parties and functions, amongst others.
              These are great in work places as people often turn to soft or
              energy drinks looking for a lift during the day.
              Both these drinks provide a bit of extra pep for your step when needed.
            </p>
          </div>
        </div>
    </div>
</section>
