<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">About Us</h2>
              <p>Locally owned and operated in Cairns since 2004.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-justify">
            <p>
              We are proud distributors of beverages and fresh juices for over 10 years.
              We do great products, matched with our great service.
              We continue to grow and are expanding our product range and the areas we service.
              We are committed and dedicated to our customers and at all times we provide:
            </p>
          </div>
        </div>
        <div class="row" style="margin-top:15px">
          <div class="col-lg-12 text-justify">
            <p>
              <div class="col-md-4 text-center">
                <p>Superior customer service</p>
              </div>
              <div class="col-md-4 text-center">
                <p>Efficient product delivery</p>
              </div>
              <div class="col-md-4 text-center">
                <p>Valuable business advice</p>
              </div>
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>
              <b>We are the FNQ Member for AIDA</b>
            </p>
          </div>
          <div class="col-lg-12 text-justify">
            <p>
              AIDA is a national beverage distribution network servicing
              an array of customers.
              We can supply and fit your business with the right refrigerated
              merchandise to optimise your beverage offering.
              Fridges have been designed to accommodate any store’s décor or
              fit-out and are extremely eye catching and quirky.
              They also come with a 24 hour breakdown number in case of any
              unlikely mishap with your Hydration Station.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <img class="center-img" src="img/hydration_station_aida.jpg">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>
              <b>School Canteen Approved Products Available.</b>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <img class="center-img" src="img/school_approved.png">
          </div>
        </div>
    </div>
</section>
