<!-- Brands Section -->
<section id="brands">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Brands</h2>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>We are major distributors of market leading brands.</p>
          </div>
          <div>
            <img class="autosize-img center-img" src="img/brands_collage.jpg">
          </div>
        </div>
    </div>
</section>
