<!-- Services Section -->
<section id="services" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Services</h2>
            <h3 class="section-subheading">
              <p>
                Supplying Juices and Drinks to Cairns and surrounding areas.
              </p>
              <p>
                We service
                <ul class="grid">
                  <li>Hotels</li>
                  <li>Restaurants</li>
                  <li>Clubs</li>
                  <li>Pubs</li>
                  <li>Takeaways</li>
                  <li>Schools</li>
                  <li>Shopping Centres</li>
                  <li>Care Facilities</li>
                  <li>Sporting Clubs</li>
                </ul>
              </p>
            </h3>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <img src="img/school_approved.png">
        </div>
      </div>
    </div>
</section>
